{% macro menuItem(name, url) %}
    {% if path == url %}
        <li class="uk-active"><a href="{{url_path}}{{url}}">{{name}}</a></li>
    {% else %}
        <li><a href="{{url_path}}{{url}}">{{name}}</a></li>
    {% endif %}
{% endmacro %}